# Change the background color to white
#set -g window-active-style bg=white

# coloca la barra en la parte superior
set-option -g status-position top

# Texto y fondo en la barra de estado
set-option -g status-bg black
set-option -g status-fg white

# configuración para las ventanas en la barra
set-window-option -g window-status-style bg=black,fg=white
set-window-option -g window-status-current-style bg=black,fg=whiteh
set-option -g prefix C-z
unbind C-b
